# 미세먼지 데이터 가공 함수 
### 시간별 데이터 ▶ 결측치 및 이상치 제거 ▶ 일별 평균 데이터로 가공

In [1]:
import pandas as pd

def dust_mean(raw) :
    date_list = []
    hour_list = []
    min_list = []
    for i in raw.tm :
        date_list.append(str(i)[:8])
    for i in raw.tm :
        hour_list.append(str(i)[8:10])
    for i in raw.tm :
        min_list.append(str(i)[10:])

    # 리스트 세개를 합쳐 새로운 dataframe 생성
    split_df = pd.DataFrame({"date":date_list,
                            "hour":hour_list,
                            "min":min_list})

    # pm10 열만 가져와서 병합
    raw = raw.loc[:,'pm10'] 
    result = pd.concat([split_df,raw], axis=1)
    
    # 결측치(-999, -9999) 제거
    result = result.loc[(result.pm10!=-999)&(result.pm10!=-9999),:]
    
    # 이상치 제거
    df = result['pm10'].describe()
    top_out = df[-2]+(df[-2]-df[-3])*1.5
    down_out = df[4]-(df[-2]-df[-3])*1.5
    result = result.loc[(result.pm10>=down_out)&(result.pm10<=top_out),:]

    grouped = result.groupby(result.date)
    result_date_mean = grouped.mean()
    
    return result_date_mean

#### 특정 폴더 안에 있는 raw 데이터를 읽어들여 데이터 프레임 생성

In [1]:
# 파일경로 대입하면 데이터 프레임 생성하는 함수 생성
def read_file(file_path) :
    raw = pd.read_csv(file_path)
    return dust_mean(raw)

In [2]:
# 노원구와 종로구 raw 데이터 파일 경로 리스트 생성
from os import listdir
from os.path import isfile, join

files_n = [f for f in listdir('../data/환경기상데이터/노원구_원본/') if isfile(join('../data/환경기상데이터/노원구_원본/', f))]
files_j = [f for f in listdir('../data/환경기상데이터/종로구_원본/') if isfile(join('../data/환경기상데이터/종로구_원본/', f))]
        
file_path_list_n = []
for file in files_n :
    path = '../data/환경기상데이터/노원구_원본/'
    file_path_list_n.append(path+file)

file_path_list_j = []
for file in files_j :
    path = '../data/환경기상데이터/종로구_원본/'
    file_path_list_j.append(path+file)

## 노원구 미세먼지 데이터프레임 가공

In [125]:
from tqdm import tqdm_notebook
n = 0
for file_path in tqdm_notebook(file_path_list_n):
    name = files_n[n].split('.')[0]
    exec("%s = read_file('%s')" %(name,file_path)) 
    n += 1

HBox(children=(IntProgress(value=0, max=22), HTML(value='')))

### 결측치 확인
이상치와 결측치를 제거한 뒤 일별 평균을 산출했기 때문에 열 개수가 서로 다름 <br>
이후 데이터프레임 병합이 어려우므로 행 개수를 맞춰줘야 함

In [126]:
for i in files_n:
    name = i.split('.')[0]
    exec("print(%s.shape)" %name)
    exec("print(%s.isnull().sum())" %name)

(343, 1)
pm10    0
dtype: int64
(216, 1)
pm10    0
dtype: int64
(82, 1)
pm10    0
dtype: int64
(340, 1)
pm10    0
dtype: int64
(341, 1)
pm10    0
dtype: int64
(227, 1)
pm10    0
dtype: int64
(364, 1)
pm10    0
dtype: int64
(200, 1)
pm10    0
dtype: int64
(75, 1)
pm10    0
dtype: int64
(355, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(79, 1)
pm10    0
dtype: int64
(363, 1)
pm10    0
dtype: int64
(342, 1)
pm10    0
dtype: int64
(364, 1)
pm10    0
dtype: int64
(179, 1)
pm10    0
dtype: int64
(364, 1)
pm10    0
dtype: int64
(263, 1)
pm10    0
dtype: int64
(301, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(300, 1)
pm10    0
dtype: int64
(93, 1)
pm10    0
dtype: int64

In [127]:
공릉1동 = pd.DataFrame()
공릉2동 = pd.DataFrame()
하계1동 = pd.DataFrame()
상계5동 = pd.DataFrame()
상계67동 = pd.DataFrame()
상계2동 = pd.DataFrame()
공릉1동['pm10'] = pd.concat([공릉1동385,공릉1동615],axis=1).mean(axis=1)
공릉2동['pm10'] = pd.concat([공릉2동172,공릉2동74],axis=1).mean(axis=1)
하계1동['pm10'] = pd.concat([하계1동251,하계1동280],axis=1).mean(axis=1)
상계5동['pm10'] = pd.concat([상계5동156,상계5동456],axis=1).mean(axis=1)
상계67동['pm10'] = pd.concat([상계67동734,상계67동740,상계67동767],axis=1).mean(axis=1)
상계2동['pm10'] = pd.concat([상계2동1281,상계2동332,상계2동397,상계2동407],axis=1).mean(axis=1)

C:\Users\yumincho\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  import sys
C:\Users\yumincho\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.


C:\Users\yumincho\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':
C:\Users\yumincho\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # Remove the CWD from sys.path while we load stuff.
C:\Users\yumincho\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # This is added back by InteractiveShellApp.init_path()
C:\Users\yumincho\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if sys.path[0] == '':

In [128]:
월계2동 = 월계3동
하계2동 = 하계1동280
중계1동 = 중계본동
상계8동 = 상계10동
상계9동 = 상계5동
중계4동 = 상계5동

In [129]:
name_n = ['월계1동','월계2동','월계3동',
        '공릉1동','공릉2동',
        '하계1동','하계2동',
        '중계본동','중계1동','중계4동','중계23동',
        '상계1동','상계2동','상계34동','상계5동','상계67동','상계8동','상계9동','상계10동']

In [130]:
date_365 = pd.DataFrame(index = 중계본동.index)

In [131]:
for i in name_n:
    exec("%s = pd.concat([date_365,%s],axis=1)" %(i,i))

C:\Users\yumincho\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

행 개수를 365개로 맞춰주었기 때문에 늘어난 행 개수만큼 NaN값이 생성됨

In [132]:
# 데이터프레임 행열 개수 확인
for i in name_n:
    exec("print(%s.shape)" %i)
    exec("print(%s.isnull().sum())" %i)

(365, 1)
pm10    1
dtype: int64
(365, 1)
pm10    102
dtype: int64
(365, 1)
pm10    102
dtype: int64
(365, 1)
pm10    22
dtype: int64
(365, 1)
pm10    25
dtype: int64
(365, 1)
pm10    27
dtype: int64
(365, 1)
pm10    272
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    2
dtype: int64
(365, 1)
pm10    64
dtype: int64
(365, 1)
pm10    138
dtype: int64
(365, 1)
pm10    1
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    2
dtype: int64
(365, 1)
pm10    1
dtype: int64
(365, 1)
pm10    24
dtype: int64
(365, 1)
pm10    2
dtype: int64
(365, 1)
pm10    24
dtype: int64

In [133]:
# NaN 평균값으로 대체
for i in name_n:
    exec("%s = %s.fillna(%s.mean())" %(i,i,i))

In [134]:
# 데이터프레임 행열 개수 확인
for name in name_n:
    # name = i + '_fillna'
    exec("print(%s.shape)" %name)
    exec("print(%s.isnull().sum())" %name)

(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64

In [168]:
# csv파일로 저장
for i in name_n:
    exec("%s.to_csv('../data/환경기상데이터/노원구/%s.csv', encoding='utf-8')" %(i,i))

In [135]:
# pm10이 80 이상인 경우 1로 범주화
def bad_day(df):
    df['bad'] = 0
    n = 0
    for i in df['pm10']:
        if i >= 80:
            df.iloc[n,1] = 1
        else:
            df.iloc[n,1] = 0
        n += 1
    df = df.reset_index()
    return df
# 모든 데이터프레임 범주화
for i in name_n:
    exec("bad_day(%s)" %i)

In [136]:
# 월별 bad 빈도 수
def month_count(day):
    n = 0
    for i in day.index:
        day.iloc[n,0] = i[:6]
        n += 1
    df = pd.DataFrame(day['bad'].groupby(day['pm10']).sum().values,
                     index = day['bad'].groupby(day['pm10']).sum().index)
    return df

In [120]:
# 모든 데이터프레임 월별 bad 빈도 수 세기
for i in name_n:
    month_name = i+"_month"
    exec("%s = month_count(%s)" %(month_name,i))

# 모든 월별 데이터프레임 열 이름 변경
for i in name_n:
    month_name = i + "_month"
    exec("%s.columns = ['%s']" %(month_name,i))

In [139]:
# 모든 월별 데이터프레임 병합
month_name = []
for i in name_n:
    month_name.append(i+"_month")
month_name

['월계1동_month',
 '월계2동_month',
 '월계3동_month',
 '공릉1동_month',
 '공릉2동_month',
 '하계1동_month',
 '하계2동_month',
 '중계본동_month',
 '중계1동_month',
 '중계4동_month',
 '중계23동_month',
 '상계1동_month',
 '상계2동_month',
 '상계34동_month',
 '상계5동_month',
 '상계67동_month',
 '상계8동_month',
 '상계9동_month',
 '상계10동_month']

In [143]:
month_nowon = pd.concat([월계1동_month,
 월계2동_month,
 월계3동_month,
 공릉1동_month,
 공릉2동_month,
 하계1동_month,
 하계2동_month,
 중계본동_month,
 중계1동_month,
 중계4동_month,
 중계23동_month,
 상계1동_month,
 상계2동_month,
 상계34동_month,
 상계5동_month,
 상계67동_month,
 상계8동_month,
 상계9동_month,
 상계10동_month], axis=1)
month_nowon

,월계1동,월계2동,월계3동,공릉1동,공릉2동,하계1동,하계2동,중계본동,중계1동,중계4동,중계23동,상계1동,상계2동,상계34동,상계5동,상계67동,상계8동,상계9동,상계10동
pm10,,,,,,,,,,,,,,,,,,,
201804,2,0,0,1,0,0,0,4,4,2,2,0,3,3,2,3,1,2,1
201805,7,0,0,0,0,0,0,1,1,4,3,3,5,4,4,5,3,4,3
201806,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
201807,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
201808,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
201809,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
201810,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
201811,7,0,0,1,0,1,0,10,10,7,2,0,1,4,7,2,0,7,0
201812,5,1,1,1,0,1,0,16,16,5,0,1,1,8,5,1,1,5,1
201901,20,2,2,8,0,0,0,26,26,22,2,2,2,21,22,3,2,22,2
201902,22,1,1,3,2,2,0,20,20,14,5,1,7,17,14,4,4,14,4
201903,9,5,5,8,2,4,0,6,6,8,8,5,7,7,8,6,4,8,4

In [165]:
month_nowon.to_csv('../data/환경기상데이터/month_nowon.csv',header = True, encoding='euc-kr')

In [ ]:
# 분기별 bad 빈도 수
def quater_count(day):
    day.reset_index(inplace=True)
    n = 0
    for i in day['date']:
        if (i[4:6]=='01')|(i[5:6]=='02')|(i[5:6]=='03'):
            day.iloc[n,0] = 1
        elif (i[4:6]=='04')|(i[5:6]=='05')|(i[5:6]=='06'):
            day.iloc[n,0] = 2
        elif (i[4:6]=='07')|(i[5:6]=='08')|(i[5:6]=='09'):
            day.iloc[n,0] = 3
        else:
            day.iloc[n,0] = 4
        n += 1
    
    return day['bad'].groupby(day['date']).sum()

## 종로구 미세먼지 데이터 가공

In [171]:
from tqdm import tqdm_notebook
n = 0
for file_path in tqdm_notebook(file_path_list_j):
    name = files_j[n].split('.')[0]
    exec("%s = read_file('%s')" %(name,file_path)) 
    n += 1

HBox(children=(IntProgress(value=0, max=31), HTML(value='')))

In [146]:
for i in files_j:
    name = i.split('.')[0]
    exec("print(%s.shape)" %name)
    exec("print(%s.isnull().sum())" %name)

(363, 1)
pm10    0
dtype: int64
(175, 1)
pm10    0
dtype: int64
(349, 1)
pm10    0
dtype: int64
(347, 1)
pm10    0
dtype: int64
(362, 1)
pm10    0
dtype: int64
(363, 1)
pm10    0
dtype: int64
(364, 1)
pm10    0
dtype: int64
(0, 1)
pm10    0
dtype: int64
(362, 1)
pm10    0
dtype: int64
(362, 1)
pm10    0
dtype: int64
(362, 1)
pm10    0
dtype: int64
(293, 1)
pm10    0
dtype: int64
(264, 1)
pm10    0
dtype: int64
(276, 1)
pm10    0
dtype: int64
(339, 1)
pm10    0
dtype: int64
(354, 1)
pm10    0
dtype: int64
(319, 1)
pm10    0
dtype: int64
(265, 1)
pm10    0
dtype: int64
(363, 1)
pm10    0
dtype: int64
(360, 1)
pm10    0
dtype: int64
(364, 1)
pm10    0
dtype: int64
(362, 1)
pm10    0
dtype: int64
(340, 1)
pm10    0
dtype: int64
(183, 1)
pm10    0
dtype: int64
(362, 1)
pm10    0
dtype: int64
(364, 1)
pm10    0
dtype: int64
(319, 1)
pm10    0
dtype: int64
(363, 1)
pm10    0
dtype: int64
(363, 1)
pm10    0
dtype: int64
(163, 1)
pm10    0
dtype: int64
(364, 1)
pm10    0
dtype: int64

In [172]:
창신1동 = pd.DataFrame()
혜화동 = pd.DataFrame()
가회동 = pd.DataFrame()
종로1234가동 = pd.DataFrame()
창신1동['pm10'] = pd.concat([창신1동170,창신1동400],axis=1).mean(axis=1)
혜화동['pm10'] = pd.concat([혜화동72,혜화동1],axis=1).mean(axis=1)
가회동['pm10'] = pd.concat([가회동177,가회동61,가회동95],axis=1).mean(axis=1)
종로1234가동['pm10'] = pd.concat([종로1234가동1000,종로1234가동1001,종로1234가동1002,종로1234가동1003,
                             종로1234가동1004,종로1234가동1005,종로1234가동1006,종로1234가동1007,
                             종로1234가동120,종로1234가동278,종로1234가동75,종로1234가동88],axis=1).mean(axis=1)

C:\Users\yumincho\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """
C:\Users\yumincho\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.


C:\Users\yumincho\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  import sys
C:\Users\yumincho\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # Remove the CWD from sys.path while we load stuff.

In [173]:
삼청동 = 가회동
무악동 = 천연동
창신2동 = 창신1동
숭인1동 = 창신3동
사직동 = 사직동111

In [174]:
name_j = ['청운효자동','사직동','삼청동','부암동','평창동','무악동','교남동','가회동',
                                 '종로1234가동','종로56가동','이화동','혜화동',
                                 '창신1동','창신2동','창신3동','숭인1동','숭인2동']

In [175]:
# 365행으로 만들어주기
for i in name_j:
    exec("%s = pd.concat([date_365,%s],axis=1)" %(i,i))
# NaN 평균값으로 대체
for i in name_j:
    exec("%s = %s.fillna(%s.mean())" %(i,i,i))
# 확인
for i in name_j:
    exec("print(%s.shape)" %i)
    exec("print(%s.isnull().sum())" %i)

C:\Users\yumincho\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64
(365, 1)
pm10    0
dtype: int64

In [177]:
# csv파일로 저장
for i in name_j:
    exec("%s.to_csv('../data/환경기상데이터/종로구/%s.csv', encoding='utf-8')" %(i,i))

In [162]:
# 모든 데이터프레임 범주화
for i in name_j:
    exec("bad_day(%s)" %i)
    
# 모든 데이터프레임 월별 bad 빈도 수 세기
for i in name_j:
    month_name = i+"_month"
    exec("%s = month_count(%s)" %(month_name,i))

# 모든 월별 데이터프레임 열 이름 변경
for i in name_j:
    month_name = i + "_month"
    exec("%s.columns = ['%s']" %(month_name,i))

In [164]:
month_jongno = pd.concat([청운효자동_month,
 사직동_month,
 삼청동_month,
 부암동_month,
 평창동_month,
 무악동_month,
 교남동_month,
 가회동_month,
 종로1234가동_month,
 종로56가동_month,
 이화동_month,
 혜화동_month,
 창신1동_month,
 창신2동_month,
 창신3동_month,
 숭인1동_month,
 숭인2동_month], axis=1)
month_jongno

,청운효자동,사직동,삼청동,부암동,평창동,무악동,교남동,가회동,종로1234가동,종로56가동,이화동,혜화동,창신1동,창신2동,창신3동,숭인1동,숭인2동
pm10,,,,,,,,,,,,,,,,,
201804,1,2,0,0,7,1,0,0,1,2,0,0,1,1,2,2,6
201805,4,5,0,3,9,3,6,0,0,0,3,2,0,0,3,3,0
201806,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
201807,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
201808,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
201809,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
201810,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0
201811,1,3,4,8,4,2,2,4,2,5,13,13,5,5,15,15,7
201812,3,4,1,14,9,0,1,1,1,0,18,11,4,4,23,23,10
201901,8,19,4,19,13,0,4,4,2,12,23,16,11,11,29,29,23
201902,6,10,9,9,7,3,11,9,2,11,11,12,10,10,10,10,15
201903,7,8,6,6,7,2,5,6,6,7,5,12,8,8,9,9,10

In [166]:
month_jongno.to_csv('../data/환경기상데이터/month_jongno.csv',header = True, encoding='euc-kr')

## 노원구 월별 평균 미세먼지 데이터 가공

In [178]:
# 미세먼지 일별 데이터프레임 읽어오기
for i in name_n:
    file_path = i + ".csv"
    exec("%s = pd.read_csv('../data/환경기상데이터/노원구/%s')" %(i,file_path))
    exec("%s.columns = ['date','pm10']" %i)
    exec("%s[['date']] = %s[['date']].astype(str)" %(i,i))
    exec("%s.set_index('date',inplace=True)" %i)

In [180]:
# 월별 평균 데이터프레임 생성
data = pd.DataFrame()
n = 0
for name in name_n:
    exec("data = pd.concat([data,%s],axis=1)" %name)
    n += 1

n_dust = pd.DataFrame({'pm10':data.mean(axis=1)})
date = []
for i in n_dust.index:
    date.append(str(i)[:-2])
n_dust['Date'] = date    
n_dust_month = n_dust.groupby('Date').mean()
n_dust_month

             pm10
Date
201804  45.413091
201805  43.746322
201806  39.656398
201807  35.892298
201808  37.819317
201809  35.524359
201810  38.041485
201811  52.171282
201812  52.323786
201901  67.392377
201902  66.666193
201903  57.444990

In [ ]:
n_dust_month.to_csv('../data/환경기상데이터/n_dust_month.csv', encoding='utf-8')

## 종로구 월별 평균 미세먼지 데이터 가공

In [181]:
for i in name_j:
    file_path = i + ".csv"
    exec("%s = pd.read_csv('../data/환경기상데이터/종로구/%s')" %(i,file_path))
    exec("%s.columns = ['date','pm10']" %i)
    exec("%s[['date']] = %s[['date']].astype(str)" %(i,i))
    exec("%s.set_index('date',inplace=True)" %i)

In [182]:
# 월별 평균 데이터프레임 생성
data = pd.DataFrame()
n = 0
for name in name_j:
    exec("data = pd.concat([data,%s],axis=1)" %name)
    n += 1
data
j_dust = pd.DataFrame({'pm10':data.mean(axis=1)})
date = []
for i in j_dust.index:
    date.append(str(i)[:-2])
j_dust['Date'] = date    
j_dust_month = j_dust.groupby('Date').mean()
j_dust_month

             pm10
Date
201804  47.958878
201805  47.102293
201806  43.090742
201807  33.416164
201808  37.241882
201809  32.729568
201810  39.611223
201811  59.827606
201812  66.644091
201901  76.946239
201902  69.889447
201903  61.724055

In [ ]:
j_dust_month.to_csv('../data/환경기상데이터/j_dust_month.csv', encoding='utf-8')